/* 
 * @name style.css for Ani-Sound
 * @author Jeroen Donkers
 * @fileoverview
 * This file contains the style of every html element described in index.html. The function of these
 * declarations is solely to visually enhance and position the elements.
*/

/* -- TOP NAVIGATION BAR -- */

@media (max-width: 400px) {
  .HideOnMicroWidth {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .HideOnSmallWidth {
    display: none !important;
  }
}

@media (max-height: 400px) {
  .HideOnMicroHeight {
    display: none !important;
  }
}

@media (max-height: 600px) {
  .HideOnSmallHeight {
    display: none !important;
  }
}


.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 32px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* -- QUERY LOADING SPINNER -- */

.loader {
  position: absolute;
  right: 15px;
  bottom: 210px;
  border: 15px solid #333; /* Light grey */
  border-top: 15px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* -- GENUS FILTER -- */

#speciesfilter {
	position: fixed;
  width: 270px;
	float: left;
	color: #333;
	text-align: center;
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.filter_open {
  left: 0%;
}

.filter_closed {
  left: -270px;
}

/* -- GENUS FILTER CHECKBOX -- */

.label-cbx {
  user-select: none;
  cursor: pointer;
}
.label-cbx input:checked + .checkbox {
  border-color: #20C2E0;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #20C2E0;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #20C2E0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.1s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > .cbxlabel div {
  pointer-events: none;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

/* -- ENTRY INFOWINDOW -- */

#container {
  display: flex;
  flex-flow: column wrap;
}

#EntryTop {
  display: flex;
  flex-flow: row wrap;
}

#EntryName {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
  padding: 2px 18px;
}

#EntryPlay {
  padding: 6px 0 4px 14px;
}

#EntrySub {
  float: left;
  font-style: italic;
  color: #464646;
}

#EntryImgBox {
  align-self: center;
  padding: 8px;
}

#EntryLocation {
  display: flex;
  flex-flow: row wrap;

}

#EntryLoc {
  align-self: center;
  padding: 0 8px;
}

.button {
  background: transparent;
  height: 34px;
  border-color: transparent transparent transparent #202020;
  transition: 200ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 17px 27px;
}
.button.paused {
  border-style: double;
  border-width: 0px 0 0px 27px;
}
.button:hover {
  border-color: transparent transparent transparent #404040;
}
.button:focus {
  outline: none;
}

/* -- ABOUT POPUP -- */
#popUp {
  position: absolute;
  margin-left: -225px;
  margin-top: -200px;
  max-width: 450px;
  height: 300px;
  background: rgba(236, 240, 241, 1);
  border: 7px solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.popUpClosed {
  margin-top: -3200px !important;
}

#new span {
  background: #fff;
  position: absolute;
  color: #1c8dc4;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: -5px;
}

#popUp .close {
  color: #464646;
  right: 8px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

#popUp h2 {
  font-size: 17px;
  color: #464646;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

a.aboutbutton {
  margin: -60px auto;
  text-align: center;
  right: 0;
  left: 0;
  position: absolute;
  width: 120px;
  font-size: 15px;
  color: #fff;
  border-bottom: 2px solid #18729f;
  background: #1c8dc4;
  border-radius: 4px;
  padding: 8px 0;
}